<!doctype html>
<html lang="es">
    {% load static %}    
    <head>
        <meta charset="utf-8">
        
        <title> Formulario de Acceso </title>    
        
        <link rel="stylesheet" href='{% static "css/login.css" %}'>
        
        <style type="text/css">    
        </style>
        
        <script type="text/javascript">
        </script>
        
    </head>
    
    <body>
    
        <div id="contenedor">
            
            <div id="contenedorcentrado">
                <div id="login">
                    <form id="loginform">
                        {% csrf_token %}
                        {{ form.username.label_tag }}
                        {{ form.username }}
                        {{ form.password.label_tag }}
                        {{ form.password }}
                        <!--label for="usuario">Usuario</!--label>
                        <input id="usuario" type="text" name="usuario" placeholder="Usuario" required>                        
                        <label for="password">Contraseña</label>
                        <input id="password" type="password" placeholder="Contraseña" name="password" required-->
                        
                        <button type="submit" title="Ingresar" name="Ingresar">Login</button>
                    </form>
                    
                </div>
                <div id="derecho">
                    <div class="titulo">
                        Bienvenido!
                    </div>
                    <hr>
                    <div class="pie-form">
                        <!--a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</!a-->
                        <!--a href="signup/">¿No tienes cuenta? Regístrate</a-->
                        <hr>
                        <a href="{% url 'index' %}">« Volver</a>
                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>