<!doctype html>
<html lang="es">
    {% load static %}    
    <head>
        <meta charset="utf-8">
        
        <title> Formulario de Acceso </title>    
        
        <link rel="stylesheet" href='{% static "css/login.css" %}'>
        
        <style type="text/css">    
        </style>
        
        <script type="text/javascript">
        </script>
        
    </head>
    
    <body>
    
        <div id="contenedor">
            
            <div id="contenedorcentrado">
                <div id="login">
                    <form id="loginform" method="post" action="{% url 'login' %}?next={{ request.GET.next }}">
                        {% csrf_token %}
                        {{ form.username.label_tag }}
                        {{ form.username }}
                        {{ form.password.label_tag }}
                        {{ form.password }}
                        
                        <input type="submit" value="login">
                        <input type="hidden" name="next" value="{{ next }}">
                    </form>
                    
                </div>
                <div id="derecho">
                    <div class="titulo">
                        Bienvenido!
                        {% if user.is_authenticated %}
                            <p> {{ user.username }}. <a href="{% url 'logout' %}">Cerrar sesión</a></p>                        
                        {% endif %}      
                    </div>
                    <hr>
                    <div class="pie-form">
                        <!--a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</!a-->
                        <!--a href="signup/">¿No tienes cuenta? Regístrate</a-->
                        <hr>
                        <a href="{% url 'index' %}">« Volver</a>
                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>